
<body>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="admin.component.css">
    <div class="container">
    
        <div class="card">
          <div class="box">
            <div class="content">
              <h3> User List</h3>
              <p>Here admin can see all the users and check their approval status and approve them</p>
              <a href="#">view Users</a>
            </div>
          </div>
        </div>
    
        <div class="card">
          <div class="box">
            <div class="content">
              <h3> Add Courses </h3>
              <p>Here the admin can add new courses to the catlog</p>
              <a href="3">Add Course</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h3>Remove course</h3>
              <p>Here admin can remove the course which  are no longer being taught.</p>
              <a href="3">Remove course</a>
            </div>
          </div>
        </div>
      
        <div class="card">
            <div class="box">
              <div class="content">
                <h3>Assign Professor to course</h3>
                <p>Here admin can assigne a course to professor to teach.</p>
                <a href="#">Assign Professor</a>
              </div>
            </div>
          </div>
        
          <div class="card">
            <div class="box">
              <div class="content">
                <h3>View all Courses</h3>
                <p>Here Admin can see all the courses.</p>
                <a href="#">View Courses</a>
              </div>
            </div>
          </div>
          
        


        </div>
      
</body>

<footer class="page-footer py-3 bg-dark fixed-bottom">
  <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; CRS Website 2022</p></div>
</footer>
<router-outlet></router-outlet>

