
<body>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student</title>
  <link rel="stylesheet" href="student.component.css">
    <div class="container">
    
        <div class="card">
          <div class="box">
            <div class="content">
              <h3> Update Your Details </h3>
              <p>Here the student can update personal details</p>
              <a href="#">Fill Details</a>
            </div>
          </div>
        </div>
    
        <div class="card">
          <div class="box">
            <div class="content">
              <h3> Available Courses </h3>
              <p>Here the student can able to see all the Available courses for Student</p>
              <a href="3">See the List</a>
            </div>
          </div>
        </div>
      
        <div class="card">
          <div class="box">
            <div class="content">
              <h3>View registered course</h3>
              <p>Here the student can able to see all the registered courses </p>
              <a href="3">view register course</a>
            </div>
          </div>
        </div>
      
        <div class="card">
            <div class="box">
              <div class="content">
                <h3>Register to course</h3>
                <p>Here the student can register course for learning purpose</p>
                <a href="#">Add course</a>
              </div>
            </div>
          </div>
        
          <div class="card">
            <div class="box">
              <div class="content">
                <h3>Drop Course</h3>
                <p>Here the Student can withdraw course from register course list</p>
                <a href="#">Remove Course</a>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="box">
              <div class="content">
                <h3>check your grade</h3>
                <p>Here the Student can see grade</p>
                <a href="#">View Grade</a>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="box">
              <div class="content">
                <h3>Pay Fees</h3>
                <p>Here the Student can make payment to register courses</p>
                <a href="#">Pay</a>
              </div>
            </div>
          </div>


        </div>
      
</body>


<footer class="page-footer py-3 bg-dark fixed-bottom">
  <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; CRS Website 2022</p></div>
</footer>
<router-outlet></router-outlet>
